# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yml
!*.yaml
!.gitignore
!*.md

# Ignore folders in home directory
.gnupg

## Include Homeassistant config
!/homeassistant

# Ignore folders in homeassistant
.storage
.cloud
.google.token
.env

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

## Include Swag config
# Include web pages
!/web

# Include SWAG Proxy Configurations
!/swag
/swag/*
!/swag/nginx
/swag/nginx/*
!/swag/nginx/proxy-confs
/swag/nginx/proxy-confs/*.sample
!/swag/nginx/proxy-confs/*.conf

## Include Node Red config
# Node red has its own git client, and can handle its own commits. The below config duplicates this functionality.
!/node-red
/node-red/*
!/node-red/flows.json
!/node-red/flows_cred.json
!/node-red/package.json

