services:
  audiobookshelf:
    container_name: audiobookshelf
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - 13378:80
    restart: unless-stopped
    volumes:
      - /home/jenkins/audiobookshelf:/config
      - /home/jenkins/metadata:/metadata
      - /home/share/media/audiobooks:/audiobooks

  bazarr:
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: lscr.io/linuxserver/bazarr
    ports:
      - 6767:6767/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/bazarr:/config
      - /home/share/media/movies:/movies
      - /home/share/media/series:/tv

  calibre:
    container_name: calibre-web
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: crocodilestick/calibre-web-automated:latest
    ports:
      - 8083:8083
    restart: unless-stopped
    volumes:
      - /home/jenkins/calibre:/config
      - /home/share/downloads/calibre:/cwa-book-ingest
      - /home/share/media/books:/calibre-library

  flaresolverr:
    container_name: flaresolverr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: ghcr.io/flaresolverr/flaresolverr:latest
    ports:
      - 8191:8191/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/flaresolverr:/config

  jellyfin:
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: lscr.io/linuxserver/jellyfin:latest
    ports:
      - 7359:7359/udp
      - 8096:8096/tcp
      - 8920:8920/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/jellyfin:/config"
      - /home/share/media/audio:/music"
      - /home/share/media/audiobooks:/data/books"
      - /home/share/media/movies:/data/movies"
      - /home/share/media/series:/data/tvshows"

  lidarr:
    container_name: lidarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: lscr.io/linuxserver/lidarr:nightly
    ports:
      - 8686:8686/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/lidarr:/config
      - /home/share/downloads:/downloads
      - /home/share/media/audio:/music

  mariadb:
    container_name: mariadb
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: ghcr.io/linuxserver/mariadb
    ports:
      - 3306:3306/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/mariadb:/config

  minecraft:
    container_name: mc
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - EULA=TRUE
      - LOG_LEVEL=warn
      - TYPE=VANILLA
      - ENABLE_ROLLING_LOGS=true
    image: itzg/minecraft-bedrock-server
    ports:
      - 19132:19132/udp
      - 25565:25565/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/minecraft:/data

  ombi:
    container_name: ombi
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - Logging:LogLevel:Default=Warning
      - Logging:LogLevel:System=Warning
    image: linuxserver/ombi
    ports:
      - 3579:3579/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/ombi:/config

  prowlarr:
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: lscr.io/linuxserver/prowlarr:latest
    ports:
      - 9696:9696/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/prowlarr:/config

  radarr:
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: linuxserver/radarr
    ports:
      - 7878:7878/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/radarr:/config
      - /home/share/downloads:/data
      - /home/share/media/movies:/movies

  samba:
    container_name: samba
    environment:
      - TM_UID=${PUID}
      - TM_GID=${PGID}
      - TZ=${TZ}
      - CUSTOM_SMB_CONF=true
      - CUSTOM_USER=false
      - DEBUG_LEVEL=1
      - HIDE_SHARES=no
      - EXTERNAL_CONF=/users
      - SET_PERMISSIONS=false
      - SMB_INHERIT_PERMISSIONS=yes
      - SMB_NFS_ACES=yes
      - SMB_PORT=445
      - SMB_VFS_OBJECTS=catia fruit streams_xattr acl_xattr
      - VOLUME_SIZE_LIMIT=2 T
      - WORKGROUP=WORKGROUP
    image: mbentley/timemachine:smb
    network_mode: host
    restart: unless-stopped
    volumes:
      - /home/share/media/roms:/opt/roms
      - /home/jenkins/samba/timemachine-etc/smb.conf:/etc/samba/smb.conf
      - /home/jenkins/samba/timemachine-run-samba:/run/samba
      - /home/jenkins/samba/timemachine-users:/users
      - /home/jenkins/samba/timemachine-var-cache-samba:/var/cache/samba
      - /home/jenkins/samba/timemachine-var-lib-samba:/var/lib/samba
      - /home/share/media:/opt/media

  shelfmark:
    container_name: shelfmark
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: ghcr.io/calibrain/shelfmark:latest
    ports:
      - 8084:8084
    restart: unless-stopped
    volumes:
      - /home/jenkins/shelfmark:/config
      - /home/share/downloads/calibre:/books
      - /home/share/downloads:/client/path

  sonarr:
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: linuxserver/sonarr
    ports:
      - 8989:8989/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/sonarr:/config
      - /home/share/downloads:/data
      - /home/share/media/series:/tv

  swag:

    container_name: swag
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - URL=${DNS_URL}
      - SUBDOMAINS=wildcard
      - VALIDATION=dns
      - DNSPLUGIN=cloudflare
      - PROPAGATION=300
      - EMAIL=${DNS_EMAIL}
      - DOCKER_MODS=linuxserver/mods:swag-auto-reload
    image: lscr.io/linuxserver/swag:latest
    ports:
      - 443:443/tcp
      - 80:80/tcp
    restart: unless-stopped
    volumes:
      - /home/jenkins/swag:/config

  transmission:
    container_name: transmission
    environment:
      - OPENVPN_PROVIDER=PUREVPN
      - OPENVPN_CONFIG=no2-auto-udp-qr
      - OPENVPN_USERNAME=${VPN_USER}
      - OPENVPN_PASSWORD=${VPN_PASSWORD}
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60 --mute-replay-warnings
      - LOCAL_NETWORK=192.168.1.0/24
      - TRANSMISSION_DOWNLOAD_QUEUE_SIZE=20
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    image: haugene/transmission-openvpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    ports:
      - 9091:9091
    restart: unless-stopped
    volumes:
      - /home/jenkins/transmission:/config
      - /home/share/downloads:/data

#  unifi:
#    container_name: unifi
#    environment:
#      - PUID=${PUID}
#      - PGID=${PGID}
#      - TZ=${TZ}
#    image: ghcr.io/linuxserver/unifi-controller
#    ports:
#      - 10001:10001/udp
#      - 3478:3478/udp
#      - 5514:5514/tcp
#      - 6789:6789/tcp
#      - 8080:8080/tcp
#      - 8443:8443/tcp
#      - 8843:8843/tcp
#    restart: unless-stopped
#    volumes:
#      - /home/jenkins/unifi:/config
